.fondo1{
    background-image: url('https://i.pinimg.com/originals/05/8e/cd/058ecdc24a24dd3a7cd9dac963736eb3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100%;
    background-color: papayawhip; 
    display: flexbox;
}