.pixelify-sans{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.fondo1{
    background-image: url('https://img.freepik.com/fotos-premium/ilustracion-paisaje-fondo-vectorial-anime_1190079-1125.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100%;
    background-color: papayawhip; 
    display: flex;
    justify-content: center;
}

.subtitulo1{
    float: right;
    font-size: 60px;
    color: yellow;
    padding-right: 20%;
    height: 10%;
    text-shadow: #3366af 0.15em 0.15em;
    font-family: "Pixelify Sans", sans-serif;
}

.botonesLogin{
    padding-top: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    min-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

.botonRegistroLogin{
    font-size: 400%;
    background-color: #feca04;
    box-shadow: black 0.2em 0.2em;
    padding: 5px  150px;
    margin: 35px 0px;
    border-radius: 80px;
    border: 0;
}

.botonRegistroLogin:hover{
    background-color:#cfa400;
}