.pixelify-sans{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.fondo1{
    background-image: url('https://img.freepik.com/fotos-premium/ilustracion-paisaje-fondo-vectorial-anime_1190079-1125.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100%;
    background-color: papayawhip; 
    display: flex;
    justify-content: center;
}

.fondo2{
    background-image: url('https://img.freepik.com/fotos-premium/ilustracion-paisaje-fondo-vectorial-anime_1190079-1125.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100%;
    background-color: papayawhip; 
    display: flex;
    justify-content: center;
}

.fondo4{
    background-color: rgb(11, 199, 199);
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.subtitulo1{
    float: right;
    font-size: 60px;
    color: #feca04;
    padding-right: 25%;
    height: 10%;
    text-shadow: #3366af 0.15em 0.15em;
    font-family: "Pixelify Sans", sans-serif;
}

.subtitulo2{
    float: left;
    font-size: 50px;
    color: #feca04;
    padding-left: 26%;
    padding-top: 0;
    padding-bottom: 4%;
    text-shadow: #3366af 0.15em 0.15em;
    font-family: "Pixelify Sans", sans-serif;
}

.botonesLogin{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    padding: 5px;
    padding-left: 220px;
    margin: 35px 0px;
    border-radius: 80px;
    border: 0;

}

.botonesLogin2{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    padding: 5px;
    padding-left: 60px;
    margin: 35px 0px;
    border-radius: 80px;
    border: 0;
    background-color: #3366af;
    box-shadow: 0 0 0 1em black;
}

.botonRegistroLogin{
    font-size: 400%;
    background-color: #feca04;
    box-shadow: black 0.2em 0.2em;
    padding: 5px  212px;
    margin: 35px 0px;
    border-radius: 80px;
    border: 0;
}

.botonRegistroLogin2{
    font-size: 400%;
    background-color: #feca04;
    box-shadow: black 0.2em 0.2em;
    width: 67%;
    padding: 5px;
    margin: 35px 0px;
    border-radius: 80px;
    border: 0;
}

.botonRegistroLogin:hover{
    background-color:#cfa400;
}

.botonInput{
    font-size: 388%;
    width: 66%;
    padding-left: 1%;
    height: 22%;
    background-color: #3366af;
    border: 0;
    border-radius: 80px;
    box-shadow: black 0.2em 0.2em ;

}

.p{
    padding-bottom: 20px;
}

.botonInput::placeholder{
    color: black;
}

.divBotones{
    padding-left: 25%;
}

.display{
    width: 100%;
    display: grid;
}

.display2{
    width: 100%;
    display: inline-flexbox;
}

.fondo3{
    background-image: url('https://img.freepik.com/fotos-premium/ilustracion-paisaje-fondo-vectorial-anime_1190079-1125.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100%;
    background-color: papayawhip; 
    display: flex;
    justify-content: center;
}

.imagenPokemonTeambuilder{
    width: 10%;
    height: 10%;
    margin-left: 5px;
}

.botonEquipoSeleccionado{
    width:80%;
    border: none;
    background-color: aqua;
    padding-bottom: 0.1%;
    border-radius: 60px;
    border: 0;
}

.botonEquipoSeleccionado:hover{
    background-color: lightblue;
}

.botonEditar{
    font-size: 50px;
    background-color: yellow;
    border: 0;
    border-radius: 30px;
    width: 10%;
    padding: 1%;
}

.botonEditar:hover{
    background-color: green;
}

.botonEquipoSeleccionado:focus{
    background-color:white;
}

.imagenChiquita{
    display: flex;
}

.botonBorrar{
    font-size: 50px;
    background-color: red;
    border: 0;
    border-radius: 30px;
    width: 10%;
    padding: 1%;
}

.botonBorrar:hover{
    background-color: green;
}

.botonCombate{
    font-size: 400%;
    background-color: #feca04;
    box-shadow: black 0.2em 0.2em;
    width: 24%;
    padding: 5px;
    margin: 35px 0px;
    border-radius: 80px;
    border: 0;
}

.nombrePokemon1{
    background-color: black;
    width: 40%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: rgb(11, 199, 199);
}

.datosPokemon{
    width: 103%;
    background-color: black;
    display: flex;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
}

.nombrePokemon2{
    width: 90%;
    background-color: rgb(11, 199, 199);
    padding-left: 5px;
    border: 0;
    font-size: 200%;
    border-radius: 10px;
}

.imagenPokemonEditorEquipo{
    width: 90%;
    height: 70%;
    padding-left:15%;
}

.pokemonElegido{
    width: auto;
    background-color: rgb(11, 199, 199);
    color: black;
    padding-left: 5px;
    border-radius: 10px;
}

.botonVolverAtras{
    font-size: 300%;
    background-color: black;
    color: rgb(11, 199, 199);
    width: 25%;
    padding: 5px;
    margin: 35px 0px;
    border-radius: 80px;
    border: 0;
}

.estiloSelectorMovimiento{
    font-size: 220%;
    width: 100%;
    border-radius:20px;
    padding-left: 1%;
    padding-bottom: 1%;
    background-color: rgb(11, 199, 199);
    display: grid;
}

.valores{
    font-size: 150%;
    color: rgb(11, 199, 199);
}

.sliderSalud{
    width: 90%;
    background: white;  
}
.sliderSalud::-webkit-progress-bar {
    width: 90%;
    background: #fd0101;
}

.sliderAtaque{
    width:90%;
}

.sliderDefensa{
    width:90%;
}

.sliderAtEspecial{
    width:90%;
}

.sliderDfEspecial{
    width:90%;
}

.sliderVelocidad{
    width:90%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: white;
    border-radius: 16px;
  }
  
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: rgb(11, 199, 199);
    border-radius: 16px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(11, 199, 199);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px rgb(11, 199, 199);
  }